/* Header */
header {
  height: 10vh;
  width: 100%;
}

.header-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 10px 8px 0 8px;
}

/* Main */

main {
  height: 80vh;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

.welcome-headline {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;

  margin: 1.5rem 0 0 2rem;

  width: 19rem;

  color: #333333;
}

.searcher-entry {
  border: 0.5px solid black;
  border-radius: 10px;

  font-weight: 500;
  color: #555555;

  width: 16rem;
  height: 20px;
  padding: 1rem;
  margin: 1rem;

  text-align: center;

  fill: #ffff;
  cursor: pointer;
}

.divBusca {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.btnBusca {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  cursor: pointer;

  width: 8rem;
  height: 2rem;

  border: 1px solid var(--emge-black);
  border-radius: 0.5rem;

  font-size: 1rem;
  font-weight: 600;
  font-family: poppins, sans-serif;
  text-align: center;

  padding: 0.8rem;
  transition: 0.2s;
}

.btnBusca > img {
  margin-left: 0.5rem;
}

.btnBusca:hover {
  color: white;
  background: var(--emge-red);
}

.examples {
  width: 90vw;
  font-size: 0.95rem;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 1rem 0;
}

.resume-headline {
  margin: 3rem 0 2rem 0;
}

.resume-list {
  margin: 2rem 0;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .header-btns {
    font-size: 1rem;
  }

  .welcome-headline {
    margin-top: 0.5rem;
    font-size: 1.5;
  }

  .searcher-entry {
    width: 18rem;
    height: 1.2rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .header-btns {
    font-size: 1.2rem;
  }

  .welcome-headline {
    margin-bottom: 1rem;
    font-size: 1.6rem;
    width: 20rem;
  }

  .searcher-entry {
    width: 19rem;
    height: 1.4rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .header-btns {
    font-size: 1.4rem;
  }

  .welcome-headline {
    margin-bottom: 1.3rem;
    font-size: 1.7rem;
    line-height: 2rem;
    width: 22rem;
  }

  .searcher-entry {
    width: 20rem;
    height: 1.6rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .header-btns {
    font-size: 1.6rem;
  }

  .welcome-headline {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 2rem;
    line-height: 2.5rem;
    width: 26rem;
  }

  .searcher-entry {
    width: 24rem;
    height: 2rem;
  }
}
