{% extends 'base.html' %} {% load static %} {% block content %}

{% block specific_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/criar-conta-recrutador.css' %}" />
{% endblock specific_css %}
    <!--Header-->
    <header>
      <div class="header-btns">
        <button class="btn-back">
          <a href="{% url 'recruiter-login'%}">
           {%include 'partials/back-button.html' %}
          </a>
        </button>
      </div>
    </header>
    <!--Container Principal-->
    <main>
      <section class="container">
        <h1 class="welcome-headline">
          <p>Crie sua conta</p>
        </h1>
        <!-- Formulário de login -->
        <form action="" class="login-form">
            <label for="name">Nome:</label>
            <input
              type="name"
              id="name"
              class="login-entry"
              placeholder="Digite o seu nome Completo"
              autocomplete="on"
              autofocus
              required
            />

            <label for="e-mail">E-mail:</label>
            <input
              type="email"
              id="email"
              class="login-entry"
              placeholder="Digite seu e-mail"
              autocomplete="on"
              autofocus
              required
            />

            

            <label for="Confirme">Confirme o e-mail:</label>
            <input
              type="email"
              id="confirme"
              class="login-entry"
              placeholder="Confirmação"
              autocomplete="on"
              autofocus
              required
            />

            <label for="password">Senha:</label>
            <input
              type="password"
              id="password"
              class="login-entry"
              placeholder="Digite sua senha"
              autocomplete="on"
              maxlength="10"
              minlength="4"
              autofocus
              required
            />

            <label for="password">Confirme a Senha:</label>
            <input
              type="password"
              id="password"
              class="login-entry"
              placeholder="Confirmação"
              autocomplete="on"
              maxlength="10"
              minlength="4"
              autofocus
              required
            />

            <label for="enterprise">Empresa:</label>
            <input
              type="enterprise"
              id="enterprise"
              class="login-entry"
              placeholder="Digite o nome da empresa"
              autocomplete="on"
              autofocus
              required
            />
            <br />

            <!--
          <input type="submit" value="Criar Conta" class="btn-login" />
        -->

            <a
              href="{% url 'landing-page-recruiter'%}"
              value="Criar Conta"
              class="btn-login"
              >Criar Conta</a
            >
          </div>
        </form>
      </section>
    </main>
{% endblock %}
  
