{% extends 'base.html' %} {% load static %} {% block content %} 

{% block specific_css %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/home.css' %}"
/>
{% endblock %}
<!-- Logo no Header -->
<header>
  {% include 'partials/logo-img.html'%}
</header>
<main>
  <!--Container principal-->
  <section class="container">
    <h1 class="welcome-headline">
      Bem-vindo(a) à base de Currículos da Escola de Engenharia de Minas Gerais.
    </h1>

      <a class="entry-btn" href=" {% url 'login'%}">Faça seu login</a>
  </section>
</main>
<!--Footer-->
<footer></footer>
{% endblock %}
