{% extends 'base.html' %} {% load static %} {% block content %} 

{% block specific_css %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/home-page.css' %}"
/>
{% endblock specific_css %}
<!-- Logo no Header -->
<header>
  <img src="{% static '/assets/logo-emge.svg'%}" alt="Logo da EMGE" />
</header>
<main>
  <!--Container principal-->
  <section class="container">
    <h1 class="welcome-headline">
      Bem-vindo(a) à base de Currículos da Escola de Engenharia de Minas Gerais.
    </h1>

    <!-- Seleção de Role do Usuário-->
    <div class="selection">
      <p>Você é um recrutador ou um aluno?</p>

      <a class="btn-role" href=" {% url 'recruiter-login'%}">Recrutador</a>

      <a class="btn-role" href="{% url 'student-login'%}">Aluno</a>
    </div>
  </section>
</main>
<!--Footer-->
<footer></footer>
{% endblock %}
