{% extends 'base.html' %} {% load static %} {% block content %} 

{% block specific_css %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/landing-page.css' %}"
/>
{% endblock specific_css %}
    <!--Header-->
    <header>
        <div class="header-btns">
            <button class="btn-back">
                <a href="{% url 'index' %}">
                    {%include 'partials/back-button.html' %}
                </a>
            </button>
        </div>
    </header>
    <!--Container Principal-->
    <main>
        <section class="container">
            {% include 'partials/logo-img.html'%}

            <h1 class="welcome-headline">
                Oi! :)
                <p>Busque currículos de alunos por palavras chave para a vaga que você precisa.</p>
            </h1>
            <!-- Campo de pesquisar -->


            <div class="divBusca">

                <input type="text" id="search" class="searcher-entry" placeholder="busque currículos de alunos"
                autocomplete="on" 
                autofocus required />

                <button type="submit" class="btnBusca"> Buscar
                    <img src=" {% static '/assets/lupa.svg' %}" 
                    alt="Buscar"/>
                </button>
            </div>

            <p class="examples">
                <br>
                Ex: habilidades, endereço, certificações, experiências, entre outros! </p>
            </br>
            
            <div>
            <h2 class="resume-headline">Veja os currículos já cadastrados: </h2>
            <dl class="resume-list">
            {% for key, value in resume_items.items%}
                <dt class="resume-info"> {{ resume_items.curriculum.name }} | {{ resume_items.curriculum.age }} | {{ resume_items.curriculum.skills }} | {{resume_items.curriculum.city}} </dt>
                <dd class="resume-description"> {{ resume_items.curriculum.description}} </dd> <br>
            {% endfor %}
            </dl>
            </div>
        </section>
    </main>

    <!--Footer -->
    <footer>
    </footer>
{% endblock %}