<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Base de Currículos - EMGE</title>

    <!--Styles e fonte-->


    <link rel="shortcut icon" href="../assets/job-search.svg" type="image/x-icon" />

    
    {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'core/main.css' %}"
    />
    <link rel="stylesheet" type="text/css" href="{% static 'core/landing-page-recrutador.css'%}" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap"
        rel="stylesheet" />
</head>

<body>
    <!--Header-->
    <header>
        <div class="header-btns">
            <button class="btn-back">
                <a href="../index.html">
                    <img src="../assets/back-image.svg" alt="Ir para o menu" role="button" />
                </a>
            </button>
        </div>
    </header>
    <!--Container Principal-->
    <main>
        <section class="container">
            <img src="../assets/logo-emge.svg" alt="Logo da EMGE" class="logo" />

            <h1 class="welcome-headline">
                Oi, Recrutador!
                <p>Busque currículos de alunos por palavras chave para a vaga que você precisa.</p>
            </h1>
            <!-- Campo de pesquisar -->


            <div class="divBusca">

                <input type="text" id="search" class="searcher-entry" placeholder="busque currículos de alunos"
                autocomplete="on" 
                autofocus required />

                <button type="submit" class="btnBusca"> Buscar
                    <img src="../assets/lupa.svg" 
                    alt="Buscar"/>
                </button>
            </div>

            <p class="examples">
                <br>
                Ex: habilidades, endereço, certificações, experiências, entre outros! </p>
            </br>
            </div>
        </section>
    </main>

    <!--Footer -->
    <footer>
    </footer>
</body>

</html>