{% extends 'base.html' %} {% load static %} {% block content %}

{% block specific_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/resume.css' %}" />
{% endblock specific_css %}
    <!--Header-->
    <header>
      <a href="{% url 'landing-page'%}">
        {%include 'partials/back-button.html' %}
      </a>
    </header>
    <!--Container Principal-->
  <main>
      <h1 class="welcome-message"> Seu Currículo. </h1>
      <section class="formulary">
      <form action="" autocomplete="on" id="cv-form">
        <!--Inserção de Foto-->
        <div class="insert-photo">
        {% if resume.profile_image %}
          <img src="{{ resume.profile_image.url }}" alt="Adicione sua foto aqui"/>
        {% else %}
         <img class="has-photo" src="{% static '/assets/add-pic.svg'%}" alt="Sem foto de perfil"/>
        {% endif %}
        </div>

        <p>Publicado em: {{resume.published_time}}</p>

        <!--Informações Pessoais-->
        <fieldset class="personal-informations">
          <legend> Informações Pessoais </legend>
            <label for="name">Nome: <b>{{resume.name}}</b></label>
            <label for="name">Data de Nascimento: <b>{{resume.birthday}}</b></label>
            <label for="civil-state">Estado Civil: <b>{{resume.civil_state}}</b></label>
            <label for="nationality">Nacionalidade: <b>{{resume.nationality}}</b></label>
            <label for="gender">Gênero: <b>{{resume.gender}}</b></label>
          </p>
        </fieldset>

        <!-- Endereço -->
        <fieldset class="adress">
          <legend>Endereço</legend>
          <label for="">CEP: <b>{{resume.postal_code}}</b> </label>
        

          <label for="street">Logradouro: <b>{{resume.street}}</b></label>
 
          <label for="district">Bairro: <b>{{resume.district}}</b></label>

          <label for="city">Cidade: <b>{{resume.city}}</b></label>

          <label for="state">Estado: <b>{{resume.state}}</b></label>
        </fieldset>

        <!-- Contatos -->
        <fieldset class="contacts">
            <legend>Contatos </legend>

            <label for="email">E-mail: <b>{{resume.email}}</b> </label>

            <label for="tel">Telefone: <b>{{resume.telephone}}</b> </label>
            
            <label for="linkedin">Linkedin: <b>{{resume.linkedin}}</b> </label>

            <label for="facebook">Facebook: <b>{{resume.facebook}}</b> </label>
            
            <label for="instagram">Instagram: <b>{{resume.instagram}}</b> </label>
            
            <label for="other-social-media">Outra Rede Social: <b>{{resume.other_social_media}}</b> </label>

        </fieldset>

        <!-- Sobre mim -->

        <fieldset class="about-me">
          <legend>Sobre mim </legend>

          <p class="text"><b>
          {{resume.description}}
          </b></p>

        </fieldset>

        <!-- Pessoa com deficiência -->
        <fieldset class="deficiency">
          <legend for="deficient-person">Pessoa com Deficiência?</legend>

          
         <p>{{resume.deficient_person}}</p>
         <p>{{resume.if_deficient}}</p>
        </fieldset>

        <!--Formação Acadêmica-->
        <fieldset class="academic-situation">
          <legend>Formação Acadêmica </legend>

          <label for="schooling">Nível de Escolaridade: <b> {{resume.scholarship_level}}</b> </label>

          <label for="graduation-type">Tipo de Formação: <b>{{resume.formation_kind}}</b> </label>

          <label for="institution">Instituição de Ensino: <b>{{resume.education_institution}}</b> </label>

          <label for="course">Curso: <b>{{resume.course}}</b> </label>

          <label for="beginning-academic-date">Data de Início: <b>{{resume.start_date}}</b> </label>


          <label for="finishing-academic-date">Término: <b>{{resume.finish_date}}</b></label>
         
        </fieldset>

        <!--Objetivos Profissionais-->
        <fieldset class="objective">
          <legend>Objetivos profissionais </legend>

          <p class="text"><b>
            {{resume.professional_objectives}}
            </b></p>
        </fieldset>

      <!--Habilidades-->
      <fieldset class="skills">
        <legend>Habilidades</legend>
        <p class="text"><b>
          {{resume.skills}}
        </b></p>
      </fieldset>
      </fieldset>

      <!--Experiências Profissionais-->
      <fieldset class="experience">
        <legend>Experiências Profissionais </legend>
        <label for="org">Organização: <b>{{resume.company}}</b></label>
        <label for="role">Cargo: <b>{{resume.role}}</b> </label>
        <label for="professional-area">Área Profissional: <b>{{resume.professional_area}}</b> </label>
        <label for="salary">Salário: <b>R${{resume.salary}}</b></label>
        <label for="initial-date">Data de início: <b>{{resume.start_company_date}}</b> </label>
        <label for="finishing-date" >Data de Saída: <b>{{resume.finish_company_date}}</b></label>
        <label for="responsibilities">Funções: <b>{{resume.function_role}}</b></label>

      </fieldset> 

      <!--Certificações-->
      <fieldset class="certifications">
        <legend>
          Certificações
        </legend>
        <p class="text"><b>
         {{resume.certifications}}
        </b></p>
       
      </fieldset>

      <!--Idiomas-->
      <fieldset class="languages">
        <legend>Idiomas</legend>

        <p class="text"><b>
          {{resume.languages}}</br>
          
        </b></p>
      </fieldset>
      <input type="submit" value="Editar" class="submit" onclick="location.href='{% url 'student-first-access'%}'"> 
      </form>
    </section>
  </main>

    <!--Footer -->
    <footer></footer>
  {% endblock %}






