{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Base de Currículos - EMGE</title>

    <!--Styles e fonte-->

    <link
      rel="shortcut icon"
      href=" {% static '/assets/job-search.svg'%}"
      type="image/x-icon"
    />

    {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'main.css' %}"
    />
    <link rel="stylesheet" href="{% static 'css/student-first-access.css' %}" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!--Header-->
    <header>
      <a href="{% url 'student-login'%}">
        <img src="{% static 'assets/back-image.svg'%}" alt="Voltar" />
      </a>
    </header>
    <!--Container Principal-->
  <main>
      <h1 class="welcome-message">
        <p>Oi, Aluno!</p>
        <p>
          Como é o seu primeiro acesso, começaremos com a criação do seu
          currículo. :)
        </p>
      </h1>

      <p class="image-instruction">Primeiro, vamos inserir uma imagem em seu perfil:</p>
      <section class="formulary">
      <form action="" autocomplete="on" id="cv-form">
        <!--Inserção de Foto-->
        <div class="insert-photo">
          <img src=" {% static '/assets/add-pic.svg'%}" alt="Adicione sua foto aqui"/>

        
          <label for="add-photo">Adicione sua foto: </label>
          <input
            type="file"
            accept="image/*"
            value="Adicione sua foto"
            id="add-photo"
            class="add-photo"
          />

            <a href="#name" class="jump-next-button">Pular</a>
        </div>

        <p>Agora, começaremos a preencher seus dados curriculares!</p>
        <!--Informações Pessoais-->
        <fieldset class="personal-informations">
          <legend> Informações Pessoais </legend>
            <label for="name">Digite o seu nome*:</label>
            <input
              type="text"
              placeholder="Nome"
              autocomplete="on"
              required
              class="text-input"
              id="name"
            />
            <label for="name">Data de Nascimento*:</label>
            <input
              type="date"
              class="text-input"
              placeholder="Data de Nascimento"
              value="Data de nascimento"
              id="birth-date"
              required
            />
            <label for="civil-state">Estado Civil:</label>


            <label for="single">Solteiro(a)</label><br />
            <input
              type="radio"
              id="single"
              name="civil-state"
              value="Solteiro"
              class="radio-input"
            />
            
            <label for="married">Casado(a)</label><br />
            <input
              type="radio"
              id="married"
              name="civil-state"
              value="Casado"
              class="radio-input"
            />
            
            <label for="divorced">Divorciado(a)</label>
            <input
              type="radio"
              id="divorced"
              name="civil-state"
              value="Divorciado"
              class="radio-input"
            />
            
            <label for="widow">Viúvo(a)</label>
            <input
              type="radio"
              id="widow"
              name="civil-state"
              value="Viúvo(a)"
              class="radio-input"
            />
            
            <label for="separated">Separado(a) Judicialmente</label>
            <input
              type="radio"
              id="separated"
              name="civil-state"
              value="Separado"
              class="radio-input"
            />
            

            <label for="nationality">Nacionalidade:</label>
            <input type="text" required 
            class="text-input" id="nationality" placeholder="Ex: Brasileiro, Argentino" />

            <label for="gender">Gênero*:</label>

            <label for="male">Male</label><br />
            <input type="radio" class="radio-input" id="male" name="gender" value="male" />
            
            <label for="female">Female</label><br />
            <input type="radio" class="radio-input" id="female" name="gender" value="female" />
            
            <label for="other">Other</label>
            <input type="radio" class="radio-input" id="other" name="gender" value="other" />
            
          </p>
        </fieldset>

        <!-- Endereço -->
        <fieldset class="adress">
          <legend>Endereço</legend>
          <label for="">CEP*: </label>
          <input id="cep" type="text" 
          class="text-input" placeholder="Código Postal" required>

          <label for="street">Logradouro*:</label>
          <input type="text"  class="text-input" id="street" placeholder="Rua, Avenida, Beco.." required>

          <label for="district">Bairro*:</label>
          <input type="text"  class="text-input" id="district" required>

          <label for="city">Cidade*: </label>
          <input type="text" class="text-input" id="city" required>

          <label for="state">Estado*:</label>
          <input type="text" class="text-input" id="state" placeholder="Ex: Minas Gerais..">
        </fieldset>

        <!-- Contatos -->
        <fieldset class="contacts">
            <legend>Contatos </legend>

            <label for="email">E-mail*: </label>
            <input 
            type="email" 
            id ="email"
            class="text-input"
            autocomplete="on" 
            placeholder="Seu e-mail principal" 
            required
            >

            <label for="tel">Telefone*: </label>
            <input 
            type="tel" 
            class="text-input"
            id="tel" 
            autocomplete="on" 
            placeholder="(XX) XXXXX-XXX" 
            required
            >

            <label for="linkedin">Linkedin: </label>
            <input 
            type="url" 
            class="text-input"
            id="linkedin"
            placeholder="Link do perfil"
            >

            <label for="facebook">Facebook: </label>
            <input 
            type="url" 
            class="text-input"
            id="facebook"
            placeholder="Link do perfil"
            >

            <label for="instagram">Instagram: </label>
            <input 
            type="url"
            class="text-input"
            id="instagram"
            placeholder="Link do perfil"
            >

            <label for="other-social-media">Outra Rede Social: </label>
            <input 
            type="url"
            class="text-input"
            id="other-social-media"
            placeholder="Outra rede à sua escolha"
            >

        </fieldset>

        <!-- Sobre mim -->

        <fieldset class="about-me">
          <legend>Sobre mim </legend>

          <label for="description">Descrição: </label>
          <textarea 
            name="about-me" 
            id="description" 
            cols="30" 
            rows="10" 
            maxlength="500" 
            placeholder="Conte mais sobre você para que as empresas possam conhecê-lo melhor!">
          </textarea>

          <label for="presentation-video">Vídeo de apresentação:</label>
          <input 
            type="file"
            id="presentation-video"
            type="file"
            accept="video/*"
            value="Adicione seu video"
          >
        </fieldset>

        <!-- Pessoa com deficiência -->
        <fieldset class="deficiency">
          <legend for="deficient-person">Pessoa com Deficiência?</legend>

          <label for="positive">Sim</label>
          <input type="checkbox" id="positive" name="deficient-person" value="Sim" >
          
          <label for="negative">Não</label>
          <input type="checkbox" id="negative" name="deficient-person" value="Não">
          

          <label for="if-affirmative">Se sim, qual o tipo de deficiência?</label>
          <input type="text" class="text-input" id="if-affirmative">
        </fieldset>

        <!--Formação Acadêmica-->
        <fieldset class="academic-situation">
          <legend>Formação Acadêmica </legend>

          <label for="schooling">Nível de Escolaridade: </label>
          <select class="text-input" required name="schooling" id="schooling">
            <option value="Ensino Fundamental Incompleto">
              Ensino Fundamental Incompleto
            </option>
            <option value="Ensino Fundamental Completo">
              Ensino Fundamental Completo
            </option>
            <option value="Ensino Médio Incompleto">
              Ensino Médio Incompleto
            </option>
            <option value="Ensino Médio Completo">
              Ensino Médio Completo
            </option>
            <option selected value="Ensino Superior Incompleto">
              Ensino Superior Incompleto
            </option>
            <option value="Ensino Superior Completo">
              Ensino Superior Completo
            </option>
          </select>


          <label for="graduation-type">Tipo de Formação: </label>
          <select class="text-input" name="graduation-type" id="graduation-type">
            <option selected value="Bacharelado">
              Bacharelado
            </option>
            <option value="Licenciatura">
              Licenciatura
            </option>
            <option value="Tecnólogo">
              Tecnólogo
            </option>
            <option value="Especialização">
              Especialização
            </option>
            <option value="MBA">
              MBA
            </option>
            <option value="Mestrado">
              Mestrado
            </option>
            <option value="Doutorado">
              Doutorado
            </option>
            <option value="Pós-doutorado">
              Pós-doutorado
            </option>
          </select>


          <label for="institution">Instituição de Ensino: </label>
          <input class="text-input" type="text" name="institution" id="institution" placeholder="Nome da instituição">

          <label for="course">Curso: </label>
          <input class="text-input" type="text" name="course" id="course" placeholder="Nome do curso">

          <label for="beginning-academic-date">Data de Início: </label>
          <input type="date"  class="text-input" id="beginning-academic-date">


          <label for="finishing-academic-date">Término</label>
          <input type="date" name="finishing-academic-date" id="finishing-academic-date"
          class="text-input">

          <button>
            <span>Adicione uma nova formação</span>
            <img src="../assets/add-formation.svg" alt="Adicione uma nova formação">
          </button>
        </fieldset>

        <!--Objetivos Profissionais-->
        <fieldset class="objective">
          <legend>Objetivos profissionais </legend>

          <textarea name="professional-objective" id="professional-objective" cols="30" rows="10" required placeholder="Detalhe seus objetivos profissionais"></textarea>
        </fieldset>

      <!--Habilidades-->
      <fieldset class="skills">
        <legend>Habilidades</legend>
        <textarea name="personal-skills" id="personal-skills" cols="30" rows="10" placeholder="Detalhe hard e soft skills que possui!"></textarea>
      </fieldset>

      <!--Experiências Profissionais-->
      <fieldset class="experience">
        <legend>Experiências Profissionais </legend>
        <label for="org">Organização:</label>
        <input type="text"  class="text-input" id="org">
        <label for="role">Cargo: </label>
        <input type="text" class="text-input" id="role">
        <label for="professional-area">Área Profissional: </label>
        <input type="text" class="text-input" id="professional-area">
        <label for="salary">Salário:</label>
        <input type="text" class="text-input" id="salary">
        <label for="initial-date">Data de início: </label>
        <input type="date" class="text-input" id="initial-date">
        <label for="finishing-date" >Data de Saída: </label>
        <input type="date" class="text-input" id="finishing-date">
        <label for="responsibilities">Funções:</label>
        <textarea id="responsibilities"></textarea>

        <button>
          <span>Adicione uma nova experiência</span>
          <img src="../assets/add-formation.svg" alt="Adicione uma nova formação">
        </button>
      </fieldset> 

      <!--Certificações-->
      <fieldset class="certifications">
        <legend>
          Certificações
        </legend>

        <textarea name="certi" id="certi" cols="30" rows="10" placeholder="Coloque aqui todas as suas certificações :)"></textarea>
      </fieldset>

      <!--Idiomas-->
      <fieldset class="languages">
        <legend>Idiomas</legend>

        <textarea name="language" id="language" cols="30" rows="10" placeholder="Descreva seus idiomas e nível de domínio. Ex: Inglês: Intermediário..."></textarea>
      </fieldset>

      <input type="submit" value="Concluir" class="submit"> 
      </form>
    </section>
  </main>

    <!--Footer -->
    <footer></footer>
  </body>
</html>
