{% load static %}
 <!--Container Principal-->
<main>
    <section class="container">
    {% include 'partials/logo-img.html'%}
    <h1 class="welcome-headline">
        Olá!
        <p>Já possui conta? Faça o login!</p>
        <p>Não possui? Basta se cadastrar para começar a utilizar</p>
    </h1>
        <!-- Formulário de login -->
        <form action="">

        <div class="login-email">
            <label for="email">E-mail:</label>
            <input
            type="email"
            id="email"
            class="login-entry"
            placeholder="Digite o seu e-mail"
            autocomplete="on"
            autofocus
            required
            />
        </div>


        <div class="login-senha">

            <label for="password">Senha:</label>
            <input
            type="password"
            id="password"
            class="login-entry"
            placeholder="Digite a sua senha"
            autocomplete="on"
            maxlength="10"
            minlength="4"
            autofocus
            required
            />
        </div>

        <button class="btn-forgot-password" onclick="location.href='{% url 'reset-password' %}'">Esqueceu a senha?</button>

        <!--
            <input type="submit" value="Entrar" class="btn-login"/> 
        -->

        <a href="{% url 'landing-page-recruiter'%}" class="btn-login">Entrar</a>
        
        </form>
    </div>
    </section>
</main>