{% extends 'base.html' %} {% load static %} {% block content %} 

{% block specific_css %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/landing-page.css' %}"
/>
{% endblock specific_css %}
    <!--Header-->
    <header>
        <div class="header-btns">
            <button class="btn-back">
                <a href="{% url 'landing-page' %}">
                    {%include 'partials/back-button.html' %}
                </a>
            </button>
        </div>
    </header>
    <!--Container Principal-->
    <main>
        <section class="container">


           {% include 'partials/busca.html'%}
            
            <!-- Resultados de pesquisa -->

            <p class="examples">
                <br>
            </br>
            
            <div>
           
            <dl class="resume-list">
            {% if resumes %}
             <h2 class="resume-headline">Veja o que encontramos para a sua busca: </h2>
            {% for resume in resumes %}
                <dt class="resume-info"> <a href="{% url 'resume' resume.resume_id %}"> {{ resume.name }} | {{ resume.birthday }} | {{ resume.skills }} | {{resume.city}} - {{ resume.state }} </a> </dt>
                <dd class="resume-description"> {{ resume.description}} </dd> <br>
            {% endfor %}
            {% else %}
             <h2 class="resume-headline"> Não encontramos correspondências para a sua pesquisa :/ </h2>
            {% endif %}
            </dl>
            </div>
        </section>
    </main>

    <!--Footer -->
    <footer>
    </footer>
{% endblock %}