{% extends 'base.html' %} {% load static %} {% block content %}

{% block specific_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/create-account.css' %}" />
{% endblock specific_css %}
    <!--Header-->
    <header>
      <div class="header-btns">
        <button class="btn-back">
          <a href="{% url 'login'%}">
           {%include 'partials/back-button.html' %}
          </a>
        </button>
      </div>
    </header>
    <!--Container Principal-->
    <main>
      <section class="container">
        <h1 class="welcome-headline">
          <p>Crie sua conta</p>
        </h1>
        <!-- Formulário de login -->
        <form action="{% url 'create-account' %}" method="POST" class="login-form">
        {% csrf_token %}
            <label for="name">Nome:</label>
            <input
              type="name"
              name="name"
              id="name"
              class="login-entry"
              placeholder="Digite o seu nome Completo"
              autocomplete="on"
              autofocus
              required
            />

            <label for="e-mail">E-mail:</label>
            <input
              type="email"
              name="email"
              id="email"
              class="login-entry"
              placeholder="Digite seu e-mail"
              autocomplete="on"
              autofocus
              required
            />

            

            <label for="Confirme">Confirme o e-mail:</label>
            <input
              type="email"
              name="email_confirmation"
              id="confirme"
              class="login-entry"
              placeholder="Confirmação"
              autocomplete="on"
              autofocus
              required
            />

            <label for="password">Senha:</label>
            <input
              type="password"
              id="password"
              name="password"
              class="login-entry"
              placeholder="Digite sua senha"
              autocomplete="on"
              minlength="4"
              autofocus
              required
            />

            <label for="password">Confirme a Senha:</label>
            <input
              type="password"
              id="password"
              name="password_confirmation"
              class="login-entry"
              placeholder="Confirmação"
              autocomplete="on"
              minlength="4"
              autofocus
              required
            />


          
          <input type="submit" value="Criar Conta" class="btn-login" />
        
          </div>
        </form>
      </section>
    </main>
{% endblock %}
  
